@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Holtwood+One+SC&family=Pacifico&family=Playfair+Display&family=Quicksand:wght@300&family=Roboto:wght@100&display=swap');

.gitcat{
    width: 10%;
    float: right;
}
.btn-info{
    font-size: 1vw;
    margin: 1%;
}
.btn-info:hover{
    background-color: black;
    color: white;
    border: 1px solid black;
    font-size: 1vw;
}
.btn2{
    background-color: black;
    border: 1px solid black;
    margin-left: 4%;
    margin: 1%;
    font-size: 1vw;
    color: white;
}
.btn2:hover{
    background-color: transparent;
    color: black;
    border: 1px solid black;
}
blockquote{
    font-size: 10vw;
    font-family: "Quicksand";
}